{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <h1 class="mb-4 ml-2">Contact Us</h1>

    <p class="ml-2">If you have any questions or inquiries, please feel free to get in touch with us using the information below:</p>

    <ul class="mb-4 ml-4">
        <li>Email: example@example.com</li>
        <li>Phone: 123-456-7890</li>
        <li>Address: 123 Main Street, City, Country</li>
    </ul>

    <p class="ml-2">We look forward to hearing from you!</p>
{% endblock %}
